<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <!-- Basic site needs -->
  <meta charset="utf-8">
  <title th:if="${currentPage != 'Post'}" th:text="${currentPage+' - Postit'}">Template title</title>
  <title th:if="${currentPage == 'Post'}" th:text="${message.getUser().getId()+ 'in Postit'}">Template title</title>
  <meta name="description" content="Post all you want">
  <link rel="shortcut icon" href="/assets/img/favicon.png">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"  integrity="sha384-5kGFOAqgEKnuF6c2jk2JANKHZgYVt38Wn2dVJENtq1EBCP54/1uzXU5mpxqL8WjN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link th:if="${currentPage == 'Profile'}" rel="stylesheet" type="text/css" href="/assets/css/profile.css">
  <link th:if="${currentPage == 'Post'}" rel="stylesheet" type="text/css" href="/assets/css/post.css">
  <link th:if="${currentPage == 'Login' || currentPage == 'Register'}" rel="stylesheet" type="text/css" href="/assets/css/login.css">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name=theme-color content=#fe5b5b>

  <!-- Icons -->
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <header th:fragment="header">
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item app-name" href="">
          <img src="/assets/img/logo.svg" width="30" height="30" alt="Our Postit Logo"> Postit
        </a>
        <!-- Icons for mobile view -->
        <div class="navbar-menu-mobile is-flex">
          <div class="navbar-mobile-start is-flex">
            <a class="navbar-item is-hidden-desktop" href="/" th:classappend="${currentPage == 'Home'} ? 'active'">
              <span class="navbar-icon"><ion-icon name="home-outline"></ion-icon></span>
            </a>
            <a class="navbar-item is-hidden-desktop" href="/notifications" th:classappend="${currentPage == 'Notifications'} ? 'active'">
              <span class="navbar-icon"><ion-icon name="notifications-outline"></ion-icon></span>
            </a>
            <a class="navbar-item is-hidden-desktop" href="/messages" th:classappend="${currentPage == 'Messages'} ? 'active'">
              <span class="navbar-icon"><ion-icon name="mail-outline"></ion-icon></span>
            </a>
          </div>
          <div class="navbar-mobile-spacer"></div>
          <div class="navbar-mobile-end">
            <div class="navbar-item dropdown is-hoverable is-flexbox-end is-hidden-desktop">
              <div class="dropdown-trigger">
                <a class="navbar-link navbar-link-mobile">
                  <img class="navbar-profile" src="/assets/img/avatar.png" alt="Avatar">
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                  <a class="navbar-item" th:href="@{'/user/'+${user.getId()}}">
                    <span class="navbar-icon"><ion-icon name="person-outline"></ion-icon></span> Profile
                  </a>
                  <a class="navbar-item" href="#">
                    <span class="navbar-icon"><ion-icon name="settings-outline"></ion-icon></span> Settings
                  </a>
                  <hr class="navbar-divider">
                  <form id="logout-form" th:action="@{/logout}" method="post"></form>
                  <a href="#" onclick="$('#logout-form').submit();" class="navbar-item">
                    <span class="navbar-icon"><ion-icon name="exit-outline"></ion-icon></span> Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/" th:classappend="${currentPage == 'Home'} ? 'active'">
            <span class="navbar-icon"><ion-icon name="home-outline"></ion-icon></span> Home
          </a>
          <a class="navbar-item" href="/notifications" th:classappend="${currentPage == 'Notifications'} ? 'active'">
            <span class="navbar-icon"><ion-icon name="notifications-outline"></ion-icon></span> Notifications
          </a>
          <a class="navbar-item" href="/messages" th:classappend="${currentPage == 'Messages'} ? 'active'">
            <span class="navbar-icon"><ion-icon name="mail-outline"></ion-icon></span> Messages
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="">
              <img class="navbar-profile" src="/assets/img/avatar.png" alt="Avatar"> Account
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" th:href="@{'/user/'+${user.getId()}}">
                <span class="navbar-icon"><ion-icon name="person-outline"></ion-icon></span> Profile
              </a>
              <a class="navbar-item" href="#">
                <span class="navbar-icon"><ion-icon name="settings-outline"></ion-icon></span> Settings
              </a>
              <hr class="navbar-divider">
              <a href="#" onclick="$('#logout-form').submit();" class="navbar-item">
                <span class="navbar-icon"><ion-icon name="exit-outline"></ion-icon></span> Logout
              </a>
            </div>
          </div>
        </div> 
      </div>
    </nav>
  </header>

  <footer th:fragment="footer">
    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js" integrity="sha256-dW8u4dvEKDThJpWRwLgGugbARnA3O2wqBcVerlg9LMc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.full.min.js" integrity="sha256-7NJCSpiWM0eQMfMyrFtNZp/43bnmuIhCKH+MUt6bHKY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </footer>    

  <div class="card post" th:fragment="post">
    <div class="mensaje">
      <article class="media">
        <figure class="media-left">
          <a class="image is-64x64" th:href="@{'/user/'+${message.getUser().getId()}}">
            <img class="is-rounded" src="/assets/img/avatar2.png">
          </a>
        </figure>
        <div class="media-content">
          <div class="content">
            <div class="datos">
              <span class="autor" th:text="${message.getUser().getName()}"></span>
              <span class="nombre-usuario" th:text="${message.getUser().getNick()}"></span>
              <span class="fecha" th:timestamp="${message.getTimestamp()}"></span>
            </div>
            <p th:text="${message.getText()}"></p>
          </div>
          <nav class="level is-mobile acciones">
            <div class="level-left">
              <a class="level-item no-toggable accion-reply">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item accion-activa">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
            <div class="level-right">
              <a class="post-link no-toggable" th:href="@{'/post/'+${message.getId()}}">
                See post
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
    <div class="card-footer is-hidden">
      <div class="field">
        <div class="control">
          <textarea class="textarea is-medium has-fixed-size" placeholder="Post your reply"></textarea>
        </div>
      </div>
      <div class="card-footer-end">
        <span class="characters-remaining">280/280</span>
        <div class="spacer"></div>
        <div class="control-buttons has-text-centered">
          <button class="button">
            <ion-icon name="paper-plane-outline"></ion-icon>
          </button>
          <button class="button">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card" th:fragment="post-view">
    <div class="post">
      <div class="mensaje">
        <article class="media">
          <figure class="media-left">
            <a class="image is-64x64" th:href="@{'/user/'+${message.getUser().getId()}}">
              <img class="is-rounded" src="/assets/img/avatar3.png">
            </a>
          </figure>
          <div class="media-content">
            <div class="datos">
              <span class="autor" th:text="${message.getUser().getName()}"></span>
              <span class="nombre-usuario" th:text="${message.getUser().getNick()}"></span>
              <span class="fecha" th:timestamp="${message.getTimestamp()}"></span>
            </div>
            <div class="content">
              <p th:text="${message.getText()}"></p>
            </div>
            <nav class="level is-mobile acciones">
              <div class="level-left">
                <a class="level-item no-toggable accion-reply">
                  <span class="icon is-small"><i class="fas fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fas fa-heart"></i></span>
                </a>
              </div>
              <div class="level-right">
                <a class="post-link post-responses load-responses no-toggable">
                  <span class="icon is-small"><i class="fas fa-chevron-down"></i></span>
                </a>
                <a class="post-link post-responses is-hidden no-toggable">
                  <span class="icon is-small"><i class="fas fa-chevron-up"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      <div class="card-footer is-hidden">
        <div class="field">
          <div class="control">
              <textarea class="textarea is-medium has-fixed-size" placeholder="Post your reply"></textarea>
          </div>
        </div>
        <div class="card-footer-end">
          <span class="characters-remaining">280/280</span>
          <div class="spacer"></div>
          <div class="control-buttons has-text-centered">
            <button class="button">
              <ion-icon name="paper-plane-outline"></ion-icon>
            </button>
            <button class="button">
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="responses is-hidden" id="responses">
      <div class="responses-separator"></div>
    </div>
  </div>

  <div class="post" th:fragment="post-response">
    <div class="mensaje">
      <article class="media">
        <figure class="media-left">
          <a class="image is-64x64" th:href="@{'/user/'+${message.getUser().getId()}}">
            <img class="is-rounded" src="/assets/img/avatar2.png">
          </a>
        </figure>
        <div class="media-content">
          <div class="content">
            <div class="datos">
              <span class="autor" th:text="${message.getUser().getName()}"></span>
              <span class="nombre-usuario" th:text="${message.getUser().getNick()}"></span>
              <span class="fecha" th:timestamp="${message.getTimestamp()}"></span>
            </div>
            <p th:text="${message.getText()}"></p>
          </div>
          <nav class="level is-mobile acciones">
            <div class="level-left">
              <a class="level-item no-toggable accion-reply">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item accion-activa">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
            <div class="level-right">
              <a class="post-link no-toggable" th:href="@{'/post/'+${message.getId()}}">
                See post
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
    <div class="card-footer is-hidden">
      <div class="field">
        <div class="control">
          <textarea class="textarea is-medium has-fixed-size" placeholder="Post your reply"></textarea>
        </div>
      </div>
      <div class="card-footer-end">
        <span class="characters-remaining">280/280</span>
        <div class="spacer"></div>
        <div class="control-buttons has-text-centered">
          <button class="button">
            <ion-icon name="paper-plane-outline"></ion-icon>
          </button>
          <button class="button">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-header" th:fragment="profile-header">
    <div class="profile-header-image">
      <img class="header-image" src="/assets/img/profile-header-image.jpg" alt="Profile header image">
    </div>
  
    <div class="profile-header-data">
      <div class="profile-header-user-image image">
        <img class="profile-header-user-image__ is-rounded" src="/assets/img/avatar.png" alt="profile image">
      </div>
      <div class="profile-header-data__">
        <div class="profile-header-metadata">
          <h2 class="user-profilename" th:text="${user.getName()}"></h2>
          <h3 class="user-username" th:text="${user.getNick()}"></h3>
        </div>
  
        <div class="profile-header-buttons">
          <div class="profile-details">
            <div class="counter">
              <a class="following-counter" href="https://twitter.com"><span class="counter-number">49</span>
            <span class="counter-label">Following</span>
            </a>
            </div>
            <div class="counter">
              <a class="followers-counter" href="https://twitter.com"><span class="counter-number">235</span>
            <span class="counter-label">Followers</span>
            </a>
            </div>
          </div>
          <div class="profile-spacer"></div>
          <div class="profile-follow-button">
            <button type="button" name="follow-button" class="follow-button">Follow</button>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-details-little">
      <div class="counter">
        <a class="following-counter" href="https://twitter.com"><span class="counter-number">49</span>
         <span class="counter-label">Following</span>
         </a>
      </div>
      <div class="counter">
        <a class="followers-counter" href="https://twitter.com"><span class="counter-number">235</span>
         <span class="counter-label">Followers</span>
         </a>
      </div>
    </div>
    <div class="profile-description-separator"></div>
    <div class="profile-description">
      <p class="user-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr.</p>
    </div>
  </div>
</body>
</html>
