<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      th:with="currentPage='Home'">
  <head>
    <title>Home</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div class="columns body-columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div th:if="${param.settings_saved}" style="margin: 1rem">
            Settings saved.
          </div>
          <div th:replace="fragments/components :: in-post"></div>
          <div th:each="message : ${messages}">
            <div th:replace="fragments/components :: post"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
