<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      th:with="currentPage='Post'">

  <head>
    <title>Post</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div class="columns body-columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div th:replace="fragments/components :: post-view"></div>
        </div>
      </div>
    </div>
  </body>
</html>
