<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="currentPage='Register'">

<!-- Head -->
<head th:replace="fragments/components :: head"></head>

<body>
  <!-- Content -->
  <section class="hero is-fullheight login-background">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <div th:if="${param.uerror}" class="has-text-danger">
              The username already exists.
            </div>
            <div th:if="${param.eerror}" class="has-text-danger">
              The email is already registered.
            </div>
            <div th:if="${param.perror}" class="has-text-danger">
              The passwords does not match.
            </div>
            <form id="login" class="box login" th:action="@{/register}" method="post">
              <div class="field">
                <label for="" class="label">Name</label>
                <div class="control has-icons-left">
                  <input type="text" name="name" placeholder="Full name" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-address-card"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Username</label>
                <div class="control has-icons-left">
                  <input type="text" name="id" placeholder="User" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input type="email" name="email" placeholder="user@example.com" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" name="password" placeholder="********" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Repeat password</label>
                <div class="control has-icons-left">
                  <input type="password" name="_password" placeholder="********" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button class="button login-button" type="submit" value="Login">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer th:replace="fragments/components :: footer"></footer>
</body>

</html>